* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: auto;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    height: 400px;
    width: 30%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

@media screen and (max-width:768px) {

    body {
        justify-content: center;
        align-items: center;
        background-color: grey;
    }

    .container {
        width: auto;
    }

}


.header {
    width: 100%;
    background-color: black;
    padding-bottom: 13px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.header h1 {
    text-align: center;
    color: green;
}

.container_details {
    background-color: brown;
    padding-bottom: 420px;
    width: auto;
    background-image: url(WhatsApp\ Image\ 2024-02-02\ at\ 10.03.22_f5608be4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.image {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_container {

    height: auto;
    width: 100%;
    margin-top: 50px;

}

.input_container div {
    margin-left: 30px;
    padding-bottom: 20px;
    width: auto;
}

.input_container div input {
    padding: 9px 0px;
    background-color: #294571;
    width: 300px;
    border-radius: 5px;
}

.btn {
    margin-left: 6px;
    padding: 15px 120px;
    background-color: rgb(6, 114, 180);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}